body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

header {
    border-bottom: 1px solid #e9ecef;
    color: green;
}

footer {
    border-top: 1px solid #e9ecef;
}

#general-tip-content,
#specific-tip-content {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
}

#specific-tip-section input {
    border-radius: 0; 
}

#specific-tip-section button {
    border-radius: 0; 
}
.product-image {
    max-width: 200px;
}
#general-tip-content a {
    color: #007BFF; /* Blue color for the link */
    text-decoration: none; /* Remove underline */
    padding: 5px; /* Padding around the link */
    border-radius: 3px; /* Rounded corners for the link */
    background-color: #f4f4f4; /* Light gray background for the link */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#general-tip-content a:hover {
    background-color: #e0e0e0; /* Darker gray background on hover */
}
#showcase-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#showcase-title {
    margin-bottom: 15px; /* Add space below the title */
}
.btn-primary {
    background-color: green;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: darkgreen;
}
